<main id='index'>
  <div class="posts-list">
    <% page.posts.forEach(post => {%>
      <section>
          <h3 class='post-head'>
              <%- post.title ? post.title : __('untitled')%>
            </h3>
        
        <% if (post.img) {%>
          <div class="post-img">
            <img src="<%= post.img %>" alt="">
          </div>
        <%}%>
        <div class='post-meta'>
            <i class="fa fa-calendar" aria-hidden="true"></i> <time><%-date(post.date, __('date_format'))%></time>
            <% if(post.categories.length) { %>
              | <i class="fa fa-folder-open-o" aria-hidden="true"></i> <%- partial('_partial/categories', { post: post }) %>
            <% } %>
            <% if(post.tags && post.tags.length) { %>
              <span class="seperator">|</span>
               <% if (post.tags.length > 1) { %>
                  <i class="fa fa-tags" aria-hidden="true"></i>
                <% } else {%>
                  <i class="fa fa-tag" aria-hidden="true"></i>
                <% } %>
               <%- partial('_partial/tag', { tags: post.tags }) %>
            <% } %>
          </div>
        <div class="post-content">
          <% if (post.description) {%>
            <%- post.description %>
          <% } else if (post.excerpt) {%>
            <%- post.excerpt %>
          <% } else if (post.content) {%>
            <% var br = post.content.indexOf('\n') %>
              <% if(br < 0) {%>
                <%- post.content %>
              <% } else {%>
                <%- post.content.substring(0, br) %>
              <% } %>
          <% } %>
        </div>
        <div class="post_foot">
        <a class="read-more" href="<%- url_for(post.path) %>">
            阅读全文
          </a>
        </div>
      </section>
    <%})%>
  </div>
  <aside>

    <%- partial('_partial/search') %>
    <%- partial('_partial/avatar') %>
    <%- partial('_partial/friend_link') %>
  
    <% if(site.categories.length) { %>
      <div class="categories">
        <h1>
          <%= __('categories') %>
        </h1>
        <div class="content">
          <%- list_categories({
            show_count: false
          }) %>
        </div>
      </div>
    <% } %>
  </aside>
</main>
<% if (page.total > 1){ %>
  <%- partial('_partial/paging') %>
<% } %>
