<!DOCTYPE html>
<html lang=<%= config['language'] %>>
  <%- partial('_partial/head') %>
<body>
    <div class="website_bg"></div>
  <%- partial('_partial/header') %>
  <%- body %>
  <%- partial('_partial/footer') %>

</body>
</html>
